body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(6, 80, 141);
    width: 100vw;
    height: 100vh;
}
#myCanvas{
    background-color: rgb(34, 34, 34);
    border: 2px solid gray;
}
.pb-3{
    padding-bottom: 3rem;
}